<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"   
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master}">
    <head>
        <title>Pagina Principal</title>
        <script charset="UTF-8" type="text/javascript" th:src="@{/js/component/Login.js}"></script>           
    </head>

    <div ng-controller="loginController as ctrl" layout:fragment="content" layout="column" class="section-main">            
        <div class="md-padding bgLogin" layout="column" flex>
            <div layout="row" layout-align="start center" class="loginPseudoHead">
                <div layout="row" class="logoSpace" flex="20">
<!--                    <img src="<c:url value='/resources/img/logos/logoclaridad.svg'/>"/>-->
                </div>                    
                <div flex>                
                </div>
                <div layout="row" layout-align="end center" class="logoSpace" flex="20">
<!--                    <img src="<c:url value='/resources/img/logos/logoonpe.svg'/>"/>-->
                </div>
            </div>
            <div layout="column"  layout-align="center center" flex>
                <md-card class="md-whiteframe-10dp loginClass">
                    <form th:action="@{/login}" name="form"  method="post" role="form" novalidate>                    
                        <md-card-content class="padding10">                        
                            <md-input-container class="md-icon-float md-block userClass">
                                <label>Usuario</label> 
                                <md-icon class="material-icons icon_login name">person</md-icon>
                                <input id="username" name="username" type="text" autocomplete="off" maxlength="20" required>
                            </md-input-container>                                                    
                            <md-input-container class="md-icon-float md-block">
                                <label>Contraseña</label>
                                <md-icon class="material-icons icon_login name">vpn_key</md-icon>
                                <input id="password" name="password" type="password" autocomplete="off" maxlength="20" required>
                            </md-input-container>
<!--                            <md-input-container class="md-icon-float md-block">
                                <label>Captcha</label>
                                <md-icon class="material-icons icon_login name">vpn_key</md-icon>
                                <input  name="password" type="password" autocomplete="off" maxlength="20" required>
                            </md-input-container>       -->
                            
                            <div>
                                <md-input-container class="md-icon-float md-block usercenter">
<!--                                    <img class="cursor-hand" id="captcha" th:src="@{/user/getcode}" onclick="this.src = '<c:url value=' / user / getcode'/>?d=' + new Date() * 1" />                                                       -->
                                </md-input-container>
                                <md-input-container class="md-icon-float md-block">
                                    <label>Ingrese el código</label>
                                    <md-icon class="icon_login icon-top iconoLoginInput" md-menu-align-target aria-label="captcha">                                    
                                        <i class="material-icons">extension</i>
                                    </md-icon>
                                    <input type="text" class="form-control control-login" id="txtCaptcha" name="captcha" style="float:none;" ng-model="captcha" autocomplete="off" maxlength="5" required/>
                                    <div class="hint-input" ></div>
                                </md-input-container>
<!--                                <font ng-if="message !== ''" class="margin_center">${message}</font> -->
                            </div>                         

                            <div>
                                <section layout="row" layout-align="center center">
                                    <md-button flex="50" class="md-raised md-primary" ng-disabled="form.$invalid" type="submit">INGRESAR</md-button>
                                </section>
                            </div>
                            <div>
                                <section layout="column" layout-align="center start" class="footer_button">
                                    <a ng-click="ctrl.iModal(ctrl.const.M_USER_CREATE)" flex="100" class="idcEnlace" href="#"> Click aqui para crear una nueva cuenta.</a>                                    
                                    <a ng-click="ctrl.iModal(ctrl.const.M_PASS_FORGOT)" flex="100" class="idcEnlace" href="#">Olvido su contraseña.</a>
                                </section>
                            </div>
                        </md-card-content>
                    </form>
                </md-card>
                <div class="loginLimit">
                    <md-divider></md-divider>
                </div>
                <div class="loginLimit">
                    En caso no pueda acceder, comuníquese al (01) 417-0630 anexo 8366 o
                    escríbenos a supervision@onpe.gob.pe de lunes a viernes 08:30 a.m. - 05:00 p.m.
                </div>
            </div>
        </div>
    </div>            
</html>