<md-dialog aria-label="CREAR USUARIO" class="modal-form" th:fragment="modalContents">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Mantenimiento de Usuarios<br/><span ng-bind="!user.id ? 'CREAR USUARIO' : 'EDITAR USUARIO'"></span></h2>
            <md-button class="md-icon-button btn-close" ng-click="close()">
                <md-icon aria-label="Close dialog" class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form ng-submit="submit()" name="userForm" layout="row" layout-wrap> 
            <md-input-container flex="50">
                <label>Ingrese el numero de DNI <span ng-bind="user.id ? '(Desactivado)': '' "></span></label>
                <input class="inputhide" ng-enter="getUserPadron(user.usuario)" ng-disabled="user.id" required name="usuario" ng-model="user.usuario" ui-mask="[[filterDni]]"/>
                <div class="hint" ><span ng-bind="messageNoFound"></span></div>
                    <div ng-messages="userForm.name.$error" ng-hide="showHints">
                    <div ng-message="required">DNI es requerido.</div>
                    <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                </div>
            </md-input-container>
            <md-input-container flex="50" style="width:100%">
                <label>Seleccione el Perfil...</label>
                  <md-select ng-model="user.perfil.id" required>
                    <md-option ng-repeat="perfil in profiles" ng-value="perfil.id">[[ perfil.nombre ]]</md-option>
                  </md-select>
            </md-input-container>              
            <md-input-container flex="50" class="md-block">
                <label>Nombres (Desactivado)</label>
                <input ng-disabled="user.id || !user.id"  name="nombre" ng-model="user.nombre" required />
                <div class="hint" ng-show="showHints">How can we reach you?</div>
                <div ng-messages="userForm.email.$error" ng-hide="showHints">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Mensaje de error para este imput.
                    </div>
                </div>
            </md-input-container>
            <md-input-container flex="50" class="md-block">
                <label>Apellidos (Desactivado)</label>
                <input ng-disabled="user.id || !user.id"  name="apellidosCompletos" ng-model="apellidosCompletos" required />
                <div class="hint" ng-show="showHints">How can we reach you?</div>
                <div ng-messages="userForm.email.$error" ng-hide="showHints">
                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                        Your email must be between 10 and 100 characters long and look like an e-mail address.
                    </div>
                </div>
            </md-input-container>
            <md-input-container ng-hide="user.perfil.id == constans.PERFIL_ADMIN" flex="45" class="md-block">
                <label>Fecha Inicial</label>
                <md-datepicker ng-model="user.fechaInicial" ></md-datepicker>
            </md-input-container>
            <div flex="10"></div>
            <md-input-container ng-hide="user.perfil.id == constans.PERFIL_ADMIN" flex="45" class="md-block">
                <label>Fecha Final</label>
                <md-datepicker ng-model="user.fechaFinal"></md-datepicker>
            </md-input-container>
            <md-input-container ng-hide="user.perfil.id == constans.PERFIL_ADMIN || user.perfil.id == constans.PERFIL_ONPE" flex="100" class="md-block">   
                <p>Seleccione el Estado:<span class="radioValue"></p>
                <md-radio-group layout="row"  ng-model="user.estado">
                  <md-radio-button flex ="25" ng-value="1" class="md-primary"> Activo </md-radio-button>
                  <md-radio-button flex ="25" ng-value="0" class="md-primary"> Inactivo </md-radio-button>
                </md-radio-group>
            </md-input-container>               
            <md-dialog-actions style="padding: 0;" layout="row" layout-align="left">        
                <md-button style="padding: 8px 8px 8px 0px; margin: 8px 8px 8px 0px;" class="btn-confirm" ng-click="close()">CANCELAR</md-button>                     
                <md-button type="submit" class="btn-cancel"><span ng-bind="!user.id ? 'CREAR' : 'GUARDAR'"></span></md-button> 
            </md-dialog-actions>           
        </form>
    </md-dialog-content>
</md-dialog>    
</html>


