<md-dialog aria-label="CREAR USUARIO" class="modal-form" >
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Solicitud Cambio de contraseña</h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <form id="form" name="form" ng-submit="form.$valid && ctrl.iSubmit(ctrl.const.M_PASS_FORGOT)" layout="row"  novalidate> 
            <md-input-container flex="100">
                <label>Ingrese su correo electronico</label>
                <input type="email" class="inputhide" name="email" ng-model="user.email" autocomplete="off" required/>                
                <div ng-messages="form.email.$error" multiple md-auto-hide="false">
                    <div ng-message="required">Campo requerido.</div>
                    <div ng-message="email">Email no valido.</div>
                </div>
            </md-input-container>                       
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center center">
        <md-button style="background: #023357;" flex="45" class="md-raised md-primary" ng-click="ctrl.iModal(ctrl.const.M_CLOSE)"><i class="material-icons bt_icon_modal">cancel</i><span>CANCELAR</span></md-button>
        <md-button style="background: #023357;" flex="45" class="md-raised md-primary" form="form" type="submit"><i class="material-icons bt_icon_modal">check</i><span>GUARDAR</span></md-button>        
    </md-dialog-actions>    
</md-dialog>    
</html>
 

